extends layout

block content
  form(action="/register" method="post")
    input(type="hidden", name="_csrf" value="#{csrf}")
    p Username
    input(type="text" name="username")
    p Password
    input(type="password" name="password")
    p Confirm Password
    input(type="password" name="confirmation")
    br
    input(type="submit" value="Submit")
